.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.reservations, .tablesTable {
    background-color: #f1f0ef;
    border-radius: 2%;
    text-align: center;
}

.reservationTable {
   padding: 10px;
    width: fit-content;
}

.tablesTable {
    flex-grow: 2;
}
h1, .mb-0 {
    color: #f1f0ef;
}

h1 {
    font-family: 'Limelight', cursive;
    height: fit-content;
    font-size: 60px;
}

.dateButtons > button {
    margin: 5px;
}


.tablesTable {
    width: fit-content;
    height: fit-content;
}

/* Add media query for tablets and smaller screens */
@media screen and (max-width: 768px) {

    .dashboard-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .dateButtons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    h1 {
        font-size: 40px;
    }

    .reservations-small {
        background-color: #f1f0ef;
        display: flex;
        justify-content: center;
        padding: 5px;
        border-radius: 5%;
    }



}