.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboard-header {
    padding: 15px;
}

.reservations, .tablesTable {
    background-color: #f1f0ef;
    border-radius: 15px;
    text-align: center;
}

.reservationTable {
   padding-bottom: 10px;
}

.tablesTable {
    flex-grow: 2;
}

h1, .mb-0 {
    color: #f1f0ef;
}

.tables-header {
    color: black;
}

h1 {
    font-family: 'Limelight', cursive;
    height: fit-content;
    font-size: 60px;
}

.dateButtons > button {
    margin: 5px;
}

section {
    width: 100%;
}
.reservations td, .reservations th {
    padding: 5px;
}
.tablesTable {
    width: fit-content;
    height: fit-content;
}

/* Add media query for tablets and smaller screens */
@media screen and (max-width: 768px) {

    .dashboard {
        justify-content: center;
    }

    .dashboard-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .dateButtons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    h1 {
        font-size: 40px;
    }

    .reservationTable-small {
        display: grid;
        justify-content: center;
        background-color: #f1f0ef;
        border-radius: 15px;
        padding-bottom: 15px;
        margin-bottom: 10px;
        width: 100%;
    }

    .reservations-small {
        background-color: #f1f0ef;
        display: flex;
        justify-content: center;
        padding: 5px;
        border-radius: 5%;
    }

    .reservationTable-small th, .reservationTable-small td {
        padding-right: 5px;
    }

    .reservations td, .reservations th {
        padding: 1px
    }

    .tablesTable td, .tablesTable th {
        padding: .5px;
    }


}