@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@100&family=Quicksand:wght@300;600&display=swap');

 /* body {
    background-image: url('./images/chris-liverani-oCsaxvGCehM-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
} */

.app {
      /* Additional styles for your app container, if needed */
   /* Set the container to full viewport height */
  height: 100vh;
  background-color: #094275;
  background-image: url('./images/chairs.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Styles for screens up to 768 pixels wide (e.g., tablets) */
@media screen and (max-width: 768px) {

  .app {
    height: 100vh;
    width: 100%;
  }
  
}